body {
    background-color: #ECECEC;
    text-align: center;
    font-family: monospace;
}

h1 {
    color: black;
    font-family: monospace;
}


#newStudent {
  /*background-color: green;*/
  display: none;
}

#problemPart {
  background-color: blue;
  display: none;
}

.submitButton {
  background-color: white;
  color: #F44336;
  padding: 10px 27px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #F44336;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #F44336;
  color: white;
  cursor: pointer;
}


.startButton {
  background-color: white;
  color: #4CAF50;
  padding: 25px 42px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #4CAF50;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 200px;
}

.startButton:hover {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

/*.formContainer {

}*/

label {
    margin-right: 10px;
}
