body {
    background-color: #E3E3E3;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

h1 {
    color: black;
    font-family: monospace;
}

label {
    margin-right: 10px;
}

#newStudent {
  display: none;
  margin-top: 50px;
  font-size: 25px;
}

#problemPart {
  display: none;
  width: 350px;
}

#inputAnswer {
  display: none;
}

#naoImg {
  display: inline-block;
  margin: auto;
  margin-right: 15px;
  cursor: pointer;
  cursor: hand;
}

#noNaoImg {
  display: inline-block;
  margin: auto;
  margin-left: 15px;
  cursor: pointer;
  cursor: hand;
}

.problemButton {
  background-color: white;
  color: #008CBA;
  padding: 10px 27px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #008CBA;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 10px;
}

.problemButton:hover:enabled {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
}

.problemButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.submitButton {
  background-color: white;
  color: #F44336;
  padding: 10px 27px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #F44336;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #F44336;
  color: white;
  cursor: pointer;
}

.startButton {
  background-color: white;
  color: #4CAF50;
  padding: 25px 42px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #4CAF50;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 200px;
}

.startButton:hover {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.problemContainer {
  text-align: center;
}

.problemImagesContainer {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
}

.problemImages {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 100px;
  height: 100px;
}

.answerImg {
  display: none;
  float: right;
  position: absolute;
}

.naoContainer {
  width: 100%;
  width: 100vw;
  white-space: nowrap;
  margin-top: 30px;
}

.listeningImageContainer {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  vertical-align: top;
  margin-right: 20px;
}

.listeningImage {
  display: inline-block;
  text-align: center;
  position: absolute;
  margin-right: 20px;
}

#listeningImg {
  display: none;
  position: absolute;
  max-width: 90px;
  max-height: 90px;
  width: 90px;
  height: 90px;
  float: left;
}

#getIp {
  margin-top: 20px;
  display: none;
}
